
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  background-color: bisque;
  align-items: flex-start;
  width: 300px;
  align-items: stretch;
}

.item {
  flex: 1;
}


h2 {
  font-size: 1em;
  font-weight: bold;
}
