.flexbox {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 

  }
  
.flexitem {
    flex: 1;
    background-color: pink;
  }
  
h3 {
    font-weight: bold;
  }

.fooditem {
    list-style-type: none;
    text-align: left;
    margin-left: 10px;
    padding-left: 0;
  }